.flex_horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.image_style{
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    height: 220px;
}

.input_style{
    width: 280px;
    height: 25px;
    margin: 5px 10px;
    border: 2px solid rgb(59, 59, 241);
    border-radius: 20px;
    font-size: 20px;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.input_style.invalid{
    border: 2px solid red;
}

.input_style:focus{
    border: 2px solid rgb(233, 33, 131);
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}