.page_title{
    margin: 0;
    text-align: center;
    font-size: 35px;
    color: rgb(59, 59, 241);
}

.wrap_boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6E4F0;
}

.wrapper_generico{
    display: grid;
    justify-content: center;
    margin-top: 15px;
    grid-template-columns: 350px 350px;
    column-gap: 50px;
    grid-template-rows: fit-content;
    row-gap: 10px;
}

.wrapper_test{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 799px) {
    .wrapper_generico{
        grid-template-columns: 350px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper_generico{
        grid-template-columns: 300px;
    }
}