.wrapper_flex{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.wrapper_generico{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.title_scheda{
    font-size: 30px;
    text-align: center;
    margin: 4px;
    margin-bottom: 10px;
}

.label_style{
    font-size: 16px;
    margin: 2px;
}

.select_style{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid blue;
    font-size: 15px;
    text-align: center;
    margin-bottom: 8px;
}

.textbox_style{
    width: 400px;
    height: 25px;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.textbox_style:focus{
    border: 2px solid rgb(233, 33, 131);
    border-radius: 5px;
    outline: none;
}

.preview_image{
    width: 200px;
    height: 150px;
    margin: 10px;
}

.horizontal_flex_content{
    font-size: 14px;
    /* margin: 1px; */
}

.horizontal_flex{
    margin: 0;
    display: flex;
    margin-bottom: 10px;
    /* border: 1px solid rgb(233, 33, 131); */
}