.wrapper_flex{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.wrapper_label_and_box{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: baseline;
}

.wrapper_generico{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.wrapper_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.title_scheda{
    font-size: 20px;
    text-align: center;
    margin: 4px;
    margin-bottom: 8px;
}

.label_style{
    font-size: 16px;
    margin: 2px;
}

.textbox_style{
    width: 300px;
    height: 20px;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: center;
}

.textbox_style_NOT_ALLOWED{
    width: 300px;
    height: 20px;
    font-size: 16px;
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: center;
    cursor: not-allowed;
}

.preview_image{
    width: 280px;
    height: 175px;
    margin: 10px;
}

@media screen and (max-width: 1550px) {
    .label_style{
        font-size: 14px;
    }

    .preview_image{
        width: 250px;
        height: 150px;
        margin: 10px;
    }
}