.wrap_generico{
    /* width: 650px; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.pre_game{
    font-size: 30px;
}

.frase_inizio_gioco{
    color: rgb(59, 59, 241);
}

.wrapper_horizontal_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explanation{
    font-size: 15px;
    margin: 5px;
    color: rgb(59, 59, 241);
}

.domanda{
    font-size: 17px;
    margin: 15px;
    color: rgb(59, 59, 241);
}

.horizontal_line{
    width: 99.5%;
    border: 1px solid rgb(233, 33, 131);
    margin: 5px;
}

.resize_image{
    width: 500px;
    height: 350px;
    /* margin-bottom: 30px; */
    border: 5px solid rgb(233, 33, 131);
    animation: comparire 1s normal linear forwards;
}

.risposte_corrette{
    border: 2px solid rgb(233, 33, 131);
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    color: rgb(59, 59, 241);
}

.wrapper_bottoni_risposte{
    width: 100%;
    justify-content: center;
    display: grid;
    margin: 1%;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 70px 70px;
    column-gap: 100px;
    row-gap: 50px;
    /* border: 3px solid purple; */
}

.risp_corr_multiple{
    font-size: 18px;
    margin: 8px;
}

@media screen and (max-width: 1700px) {
    .resize_image{
        width: 420px;
        height: 270px;
    }

    .wrapper_bottoni_risposte{
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 60px 60px;
        column-gap: 60px;
        row-gap: 50px;
        /* border: 3px solid purple; */
    }
}
@media screen and (max-width: 1550px) {
    .wrapper_bottoni_risposte{
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 50px 50px;
        column-gap: 40px;
        row-gap: 24px;
        /* border: 3px solid purple; */
    }
}

@media screen and (max-width: 999px) {
    .resize_image{
        width: 350px;
        height: 220px;
    }

    .wrapper_bottoni_risposte{
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 60px 60px 60px;
        column-gap: 40px;
        row-gap: 20px;
        /* border: 3px solid purple; */
    }
}

@media screen and (max-width: 599px) {
    .pre_game{
        font-size: 18px;
    }

    .explanation{
        margin: 1px;
    }

    .domanda{
        font-size: 16px;
        margin: 5px;
        color: rgb(59, 59, 241);
    }
    
    .risp_corr_multiple{
        font-size: 14px;
    }

    .risposte_corrette{
        font-size: 12px;
        margin: 8px;
        padding: 2px;
        color: rgb(59, 59, 241);
    }

    .resize_image{
        width: 250px;
        height: 160px;
    }

    .wrapper_bottoni_risposte{
        grid-template-columns: 160px 160px;
        grid-template-rows: 40px 40px;
        column-gap: 10px;
        row-gap: 10px;
        /* border: 3px solid purple; */
    }
}

@keyframes comparire {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 70%;
    }
    100%{
        opacity: 100%;
    }
}