.wrap_generico{
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* position: absolute; */
    /* top: 64%; */
}

.wrapper_horizontal_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explanation{
    font-size: 25px;
    margin: 5px;
}

.domanda{
    font-size: 20px;
    margin: 15px;
}

.horizontal_line{
    width: 99.5%;
    border: 1px solid rgb(233, 33, 131);
    margin: 5px;
}

.resize_image{
    width: 500px;
    height: 350px;
    /* margin-bottom: 30px; */
    border: 5px solid rgb(233, 33, 131);
    animation: comparire 1s normal linear forwards;
}

.risposte_corrette{
    border: 2px solid rgb(233, 33, 131);
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

.wrapper_bottoni_risposte{
    width: 100%;
    justify-content: center;
    display: grid;
    margin: 1%;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 70px 70px 70px 70px;
    column-gap: 100px;
    row-gap: 60px;
    /* border: 3px solid purple; */
}

@media screen and (max-width: 1500px) {
    .resize_image{
        width: 450px;
        height: 300px;
    }

    .wrapper_bottoni_risposte{
        grid-template-columns: 200px 200px;
        grid-template-rows: 60px 60px;
        column-gap: 80px;
        row-gap: 50px;
        /* border: 3px solid purple; */
    }
}

@keyframes comparire {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 70%;
    }
    100%{
        opacity: 100%;
    }
}