.lista_giochi{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 60vw;
    /* border: 2px solid green; */
}

.game_title{
    font-size: 1.4vw;
    margin-left: 5px;
}

.game_subtitle{
    font-size: 18px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.game_type{
    color: red;
}

.buttons_wrap{
    display: flex;
    flex-direction: column;
}