.wrapper_risultati{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.title_scheda{
    /* width: 480px; */
    text-align: center;
    margin: 5px;
    text-shadow: 1px 1px 3px black;
}

.numero_risposte{
    font-size: 18px;
    color: rgb(233, 33, 131);
}

.paz_selezionato{
    font-size: 22px;
    margin: 8px;
}

/* CONTROLLA COME RISOLVERE ESTETICA MENU DROPDOWN */
.select_box{
    width: 400px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #1E56A0;
    font-size: 15px;
    text-align: center;
    margin-bottom: 8px;
}

.select_box:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
}


@media screen and (max-width: 600px) {
    .title_scheda{
        font-size: 28px;
    }

    .wrapper_risultati{
        width: 300px;
    }

    .paz_selezionato{
        font-size: 16px;
    }

    .select_box{
        width: 240px;
        font-size: 12px;
    }
    
    .select_box select{
        width: 240px;
        font-size: 12px;
    }
}