.absolute_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    margin-bottom: 10px;
    border: 3px solid #1E56A0;
    box-shadow: 10px 10px 15px #163172;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.95);
    top: 180px;
    width: 100%;
    height: 600px;
    /* padding: 10px; */
    overflow-y: auto;
    overflow-x: hidden;
}

.absolute_buttons_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}

.wrapper_horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_flexible_GENERIC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.container_flexible_SEZIONE_SINTESI_LABELS{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.container_flexible_SEZIONE_SINTESI_LABELS:nth-last-child(0){
    border-right: none;
}

.container_flexible_SEZIONE_SINTESI_CONTENTS{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.container_flexible_INFO{
    width: 1000px;
    /* width: 100%; */
}

.container_flexible_DATE{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    /* width: 560px; */
}

.center_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.section_style{
    margin: 5px;
    height: fit-content;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    /* width: 620px; */
}

.section_style::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}

.title_form{
    font-size: 24px;
    margin: 5px;
}

.text_subtitle{
    font-size: 18px;
    margin: 4px;
}

.label_style{
    margin: 1px;
    font-size: 20px;
}

.label_style.invalid{
    color: red;
}

.input_style{
    width: 320px;
    height: 25px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 22px;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.input_style:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style.invalid{
    border: 2px solid red;
}

.input_style_LARGE{
    width: 320px;
    height: 100px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    transition: 0.3s;
    text-align: start;
    resize: none;
    /* overflow-x: scroll; */
}

.input_style_LARGE:focus{
    border: 2px solid #163172;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style_LARGE.invalid{
    border: 2px solid red;
}

.input_style_SHORT{
    width: 220px;
    height: 25px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 22px;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.input_style_SHORT:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style_SHORT.invalid{
    border: 2px solid red;
}

.select_style{
    margin: 5px;
    width: 400px;
    height: 35px;
    border-radius: 15px;
    border: 2px solid #1E56A0;
    font-size: 16px;
    text-align: center;
}

.option_style{
    width: 400px;
    word-wrap: break-word;
}

.select_style:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    outline: none;
}

.paragraph_style{
    font-size: 14px;
    margin: 0;
}

.horizontal_line{
    display: block;
    width: 100%;
    border-bottom: 2px solid #163172;
}

.sintesiMedica_label_PATOLOGIA{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 160px;
    height: 30px;
    border-right: 1px solid #163172;

}

.sintesiMedica_content_PATOLOGIA{
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width: 160px;
    height: 100%;
    margin: 0;
    border-right: 1px solid #163172;
    word-wrap: break-word;
    overflow-y: auto;
}

.sintesiMedica_content_PATOLOGIA::-webkit-scrollbar{
    width: 6px;
    border-radius: 10px;
}

.sintesiMedica_label_TERAPIA{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 400px;
    height: 30px;
    border-right: 1px solid #163172;

}

.sintesiMedica_content_TERAPIA{
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    width: 400px;
    height: 100%;
    max-height: 100px;
    margin: 0;
    word-wrap: break-word;
    overflow-y: auto;
    border-right: 1px solid #163172;

}
.sintesiMedica_content_TERAPIA::-webkit-scrollbar{
    width: 6px;
    border-radius: 10px;
}

.sintesiMedica_label_DATA{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-right: 1px solid #163172;

}

.sintesiMedica_content_DATA{
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width: 120px;
    height: 100%;
    margin: 0;
    border-right: 1px solid #163172;

}

.sintesiMedica_label_NOTE{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 240px;
    height: 30px;
    
}

.sintesiMedica_content_NOTE{
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    width: 240px;
    height: 100%;
    max-height: 100px;
    margin: 0;
    word-wrap: break-word;
    overflow-y: auto;
}
.sintesiMedica_content_NOTE::-webkit-scrollbar{
    width: 6px;
    border-radius: 10px;
}

.listaMedica_label_TERAPIA{
    font-weight: bold;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 100%;
}
.listaMedica_content_TERAPIA{
    font-weight: normal;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 100%;
    min-height: 30px;
    height: fit-content;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 16px;
}
.listaMedica_label_NOTE{
    font-weight: bold;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 100%;
}
.listaMedica_content_NOTE{
    font-weight: normal;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 100%;
    min-height: 30px;
    margin: 0;
    padding-top: 10px;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 16px;
}
.listaMedica_label_DATA{
    font-weight: bold;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 50%;
}

@media screen and (max-width: 1450px) {
    .absolute_buttons_wrapper{
        width: 780px;
    }

    .container_flexible_INFO{
        width: 740px;
    }

    .sintesiMedica_label_PATOLOGIA, .sintesiMedica_content_PATOLOGIA{
        width: 120px;
    }
    .sintesiMedica_label_DATA, .sintesiMedica_content_DATA{
        width: 110px;
    }
    .sintesiMedica_label_TERAPIA, .sintesiMedica_content_TERAPIA{
        width: 340px;
    }
    .sintesiMedica_label_NOTE, .sintesiMedica_content_NOTE{
        width: 140px;
    }

    .input_style{
        width: 250px;
    }

    .input_style_LARGE{
        width: 250px;
    }
}

@media screen and (max-width: 1000px) {
    .container_flexible_INFO{
        width: 640px;
    }

    .section_style{
        margin: 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-right: none;
    }

    .absolute_div{
        top: 170px;
    }

    .absolute_buttons_wrapper{
        width: 680px;
    }

    .sintesiMedica_label_PATOLOGIA, .sintesiMedica_content_PATOLOGIA{
        width: 100px;
        font-size: 15px;
    }
    .sintesiMedica_label_TERAPIA, .sintesiMedica_content_TERAPIA{
        width: 280px;
        font-size: 15px;

    }
    .sintesiMedica_label_DATA, .sintesiMedica_content_DATA{
        width: 90px;
        font-size: 15px;

    }
    .sintesiMedica_label_NOTE, .sintesiMedica_content_NOTE{
        width: 120px;
        font-size: 15px;
    }

    .title_form{
        font-size: 22px;
        margin: 4px;
    }

    .subtitle_form{
        font-size: 17px;
    }

    .label_style{
        font-size: 15px;
    }

    .input_style{
        width: 220px;
    }

    .paragraph_style{
        font-size: 12px;
        margin: 0;
    }
}

@media screen and (max-width: 850px) {
    .absolute_div{
        top: 170px;
    }

    .absolute_buttons_wrapper{
        width: 580px;
    }

    .container_flexible_INFO{
        width: 540px;
    }

    .container_flexible_GENERIC{
        width: 460px;
        flex-direction: row;
    }

    .container_flexible_SEZIONE_SINTESI_LABELS, .container_flexible_SEZIONE_SINTESI_CONTENTS{
        flex-direction: column;
        height: fit-content;
    }

    .container_flexible_SEZIONE_SINTESI_CONTENTS{
        width: 100%;
    }

    .sintesiMedica_label_PATOLOGIA, .sintesiMedica_label_TERAPIA, .sintesiMedica_label_DATA, .sintesiMedica_label_NOTE{
        width: 100px;
        height: 40px;
        overflow-y: auto;
        border-right: none;
        border-bottom: 1px solid #163172;
        text-align: start;
        padding-left: 5px;
    }
    .sintesiMedica_content_PATOLOGIA, .sintesiMedica_content_TERAPIA, .sintesiMedica_content_DATA, .sintesiMedica_content_NOTE{
        width: 100%;
        max-width: 500px;
        height: 40px;
        overflow-y: auto;
        border-right: none;
        border-bottom: 1px solid #163172;
        text-align: start;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 799px) {

    .absolute_div{
        top: 160px;
    }

    .absolute_buttons_wrapper{
        width: 480px;
    }

    .container_flexible_GENERIC{
        width: 420px;
    }

    .container_flexible_INFO{
        width: 360px;
    }
    
    .container_flexible_DATE{
        flex-direction: column;
        height: 140px;
        width: 360px;
    }

    .title_form{
        font-size: 18px;
        margin: 2px;
        margin-top: 0;
    }

    .subtitle_form{
        font-size: 17px;
    }

    .label_style{
        font-size: 15px;
    }

    .input_style{
        width: 220px;
    }
    .input_style_SHORT{
        height: 20px;
        font-size: 18px;
    }

    .paragraph_style{
        font-size: 12px;
        margin: 0;
    }
}

@media screen and (max-width: 549px) {
    .absolute_div{
        top: 155px;
    }

    .absolute_buttons_wrapper{
        width: 300px;
    }

    .container_flexible_GENERIC{
        width: 320px;
    }

    .section_style{
        width: 400px;
    }

    .container_flexible_INFO{
        width: 240px;
    }

    .container_flexible_DATE{
        flex-direction: column;
        height: 120px;
        width: 240px;
    }

    .select_style{
        width: 280px;
        font-size: 16px;
    }

    .option_style{
        width: 280px;
        font-size: 16px;
    }
    
    .input_style_SHORT{
        width: 160px;
        font-size: 16px;
    }

    .listaMedica_label_TERAPIA, .listaMedica_content_TERAPIA, .listaMedica_label_DATA, .listaMedica_label_NOTE, .listaMedica_content_NOTE{
        font-size: 14px;
    }
}

@media screen and (max-width:500px) {
    .container_flexible_GENERIC{
        width: 200px;
    }

    .section_style{
        width: 280px;
    }

    .sintesiMedica_label_PATOLOGIA, .sintesiMedica_label_TERAPIA, .sintesiMedica_label_DATA, .sintesiMedica_label_NOTE{
        width: 60px;
        font-size: 12px;
    }
    .sintesiMedica_content_PATOLOGIA, .sintesiMedica_content_TERAPIA, .sintesiMedica_content_DATA, .sintesiMedica_content_NOTE{
        width: 100%;
        max-width: 136px;
        font-size: 13px;
    }
}