.center_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_form{
    font-size: 30px;
    margin: 10px;
}

.label_style{
    margin: 1px;
    font-size: 20px;
}

.label_style.invalid{
    color: red;
}

.input_style{
    width: 350px;
    height: 25px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(59, 59, 241);
    border-radius: 20px;
    font-size: 22px;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.input_style:focus{
    border: 2px solid rgb(233, 33, 131);
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style.invalid{
    border: 2px solid red;
}

.horizontal_line{
    display: block;
    width: 100%;
    border: 1px solid rgb(233, 33, 131);
}