.wrapper_horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.wrapper_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #163172;
}

.section_style{
    margin: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 500px;
}

.section_style:nth-last-child(1){
    border-right: none;
}

.title_form{
    font-size: 28px;
    margin: 5px;
}

.subtitle_form{
    font-size: 20px;
    margin: 8px;
    color: #163172;
}

.label_style{
    margin: 1px;
    font-size: 20px;
}

.label_style.invalid{
    color: red;
}

.input_style{
    width: 320px;
    height: 25px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 22px;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.input_style:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style.invalid{
    border: 2px solid red;
}

.input_style_LARGE{
    width: 320px;
    height: 100px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    transition: 0.3s;
    text-align: start;
    resize: none;
    /* overflow-x: scroll; */
}

.input_style_LARGE:focus{
    border: 2px solid #163172;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style_LARGE.invalid{
    border: 2px solid red;
}

.input_style_SHORT{
    width: 220px;
    height: 25px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 22px;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.input_style_SHORT:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style_SHORT.invalid{
    border: 2px solid red;
}

.select_style{
    margin: 5px;
    width: 220px;
    height: 35px;
    border-radius: 15px;
    border: 2px solid #1E56A0;
    font-size: 16px;
    text-align: center;
}

.select_style:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    outline: none;
}

.paragraph_style{
    font-size: 14px;
    margin: 0;
}

.horizontal_line{
    display: block;
    width: 100%;
    border: 1px solid #163172;
}

.wrap_content{
    text-align: center;
    width: 300px;
}

.info_content{
    font-size: 22px;
    font-weight: normal;
    margin: 5px 0;
    /* padding: 10px; */
    width: 300px;
    text-align: center;
    align-self: flex-start;
    word-wrap: break-word;
}

@media screen and (max-width: 1400px) {
    .input_style{
        width: 250px;
    }

    .input_style_LARGE{
        width: 250px;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper_flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: none;
    }

    .section_style{
        margin: 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-right: none;
        border-bottom: 2px solid #163172;
    }

    .title_form{
        font-size: 22px;
        margin: 10px;
    }

    .subtitle_form{
        font-size: 17px;
    }

    .label_style{
        font-size: 15px;
    }

    .input_style{
        width: 220px;
    }

    .paragraph_style{
        font-size: 12px;
        margin: 0;
    }
}
@media screen and (max-width: 750px) {
    .wrapper_flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: none;
    }

    .section_style{
        width: 300px;
    }

    .title_form{
        font-size: 22px;
        margin: 10px;
    }

    .subtitle_form{
        font-size: 17px;
    }

    .label_style{
        font-size: 15px;
    }

    .input_style{
        width: 220px;
    }

    .paragraph_style{
        font-size: 12px;
        margin: 0;
    }
}