.wrapper_horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.full_width{
    width: 100%;
    justify-content: space-between;
}

.wrapper_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_flexible_GENERIC{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.container_flexible_SEZIONE_SINTESI{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    max-height: 72px;
    border-right: 1px solid #163172;
}
.container_flexible_SEZIONE_SINTESI:nth-last-child(0){
    border-right: none;
}

.container_flexible_INFO{
    width: 560px;
}

.container_flexible_DATE{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 560px;
}

.text_clickable{
    cursor: pointer;
    font-size: 20px;
    margin: 6px 4px 2px 4px;
    color: #163172;
}
.text_clickable:hover{
    color: #1E56A0;
    transition: 0.2s;
}

.text_clickable_selected{
    cursor: pointer;
    font-size: 20px;
    margin: 6px 8px 2px 8px;
    color: #1E56A0;
    text-decoration: underline;
}

.border_right{
    border-right: 1px solid #163172;
}

.center_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.scrollable_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    max-height: 300px;
    overflow-y: scroll;
    border: 2px solid #163172;
    border-radius: 4px;
    padding: 0px 6px;
    margin-bottom: 8px;
}

.wrapper_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #163172;
}

.section_style{
    margin: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 620px;
}

.title_form{
    font-size: 20px;
    margin: 10px;
    margin-top: 2px;
}

.text_subtitle{
    font-size: 16px;
    margin: 4px;
}

.subtitle_form{
    font-size: 20px;
    margin: 8px;
    color: #163172;
}

.warning{
    font-size: 18px;
    margin: 3px;
}

.label_style{
    margin: 1px;
    font-size: 20px;
}

.label_style.invalid{
    color: red;
}

.input_style{
    width: 320px;
    height: 25px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 22px;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.input_style:focus{
    border: 2px solid #163172;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    background-color: #D6E4F0;
    outline: none;
}

.input_style.invalid{
    border: 2px solid red;
}

.input_style_LARGE{
    width: 320px;
    height: 100px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    transition: 0.3s;
    text-align: start;
    resize: none;
    /* overflow-x: scroll; */
}

.input_style_LARGE:focus{
    border: 2px solid #163172;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    background-color: #D6E4F0;
    outline: none;
}

.input_style_LARGE.invalid{
    border: 2px solid red;
}

.input_style_SHORT{
    width: 220px;
    height: 25px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 22px;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.input_style_SHORT:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style_SHORT.invalid{
    border: 2px solid red;
}

.select_style{
    margin: 4px;
    width: 220px;
    height: 27px;
    border-radius: 15px;
    border: 2px solid #1E56A0;
    font-size: 16px;
    text-align: center;
}

.select_style:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    outline: none;
}

.paragraph_style{
    font-size: 14px;
    margin: 0;
}

.wrap_content{
    text-align: center;
    width: 280px;
    font-weight: bold;
}

.sintesiMedica_label_PATOLOGIA{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 120px;
    height: 40px;
}

.sintesiMedica_content_PATOLOGIA{
    font-weight: normal;
    text-align: center;
    width: 120px;
    height: 100px;
    margin: 0;
}

.sintesiMedica_label_TERAPIA{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 190px;
    height: 40px;
}

.sintesiMedica_content_TERAPIA{
    font-weight: normal;
    text-align: center;
    width: 190px;
    height: 100px;
    margin: 0;
    word-wrap: break-word;
    overflow-y: auto;
}
.sintesiMedica_content_TERAPIA::-webkit-scrollbar{
    width: 6px;
}

.sintesiMedica_label_DATA{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 86px;
    height: 40px;
}

.sintesiMedica_content_DATA{
    font-weight: normal;
    text-align: center;
    width: 86px;
    height: 100px;
    margin: 0;
}

.sintesiMedica_label_NOTE{
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 100px;
    height: 40px;
}

.sintesiMedica_content_NOTE{
    font-weight: normal;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0;
    word-wrap: break-word;
    overflow-y: auto;
}
.sintesiMedica_content_NOTE::-webkit-scrollbar{
    width: 6px;
}

.listaMedica_label_TERAPIA{
    font-weight: bold;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 100%;
}
.listaMedica_content_TERAPIA{
    font-weight: normal;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 100%;
    min-height: 30px;
    height: fit-content;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 16px;
}
.listaMedica_label_NOTE{
    font-weight: bold;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 100%;
}
.listaMedica_content_NOTE{
    font-weight: normal;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 100%;
    min-height: 30px;
    margin: 0;
    padding-top: 10px;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 16px;
}
.listaMedica_label_DATA{
    font-weight: bold;
    text-align: center;
    /* border-right: 1px solid #163172; */
    width: 50%;
}

.listaMedica_content{
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 10px 8px 4px 8px;
    width: 80px;
    height: 50px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 12px;
}

@media screen and (max-width: 1000px) {
    .wrapper_flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: none;
    }

    .section_style{
        margin: 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-right: none;
        border-bottom: 2px solid #163172;
    }

    .title_form{
        font-size: 22px;
        margin: 4px;
    }

    .warning{
        font-size: 14px;
        margin: 3px;
    }

    .subtitle_form{
        font-size: 17px;
    }

    .label_style{
        font-size: 15px;
    }

    .input_style{
        width: 220px;
    }

    .input_style_LARGE{
        width: 240px;
    }
}

@media screen and (max-width: 750px) {
    .wrapper_flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: none;
    }

    .container_flexible_GENERIC{
        flex-direction: column;
        width: 360px;
    }

    .container_flexible_SEZIONE_SINTESI{
        border-right: none;
        border-bottom: 1px solid #163172;
        width: 100%;
        height: fit-content;
        max-height: 50px;
    }

    .container_flexible_INFO{
        width: 360px;
    }
    
    .container_flexible_DATE{
        flex-direction: column;
        height: 140px;
        width: 360px;
    }

    .border_right{
        border-right: none;
        border-bottom: 1px solid #163172;
    }

    .section_style{
        width: 420px;
    }

    .title_form{
        font-size: 18px;
        margin: 2px;
        margin-top: 0;
    }

    .subtitle_form{
        font-size: 17px;
    }

    .label_style{
        font-size: 15px;
    }

    .input_style{
        width: 220px;
    }
    .input_style_SHORT{
        height: 20px;
        font-size: 18px;
    }

    .paragraph_style{
        font-size: 12px;
        margin: 0;
    }

    .sintesiMedica_label_PATOLOGIA, .sintesiMedica_content_PATOLOGIA, .sintesiMedica_label_NOTE,
    .sintesiMedica_content_NOTE{
        width: 100%;
        height: 20px;
    }

    .sintesiMedica_label_TERAPIA{
        width: 360px;
        height: 40px;
    }

    .sintesiMedica_content_TERAPIA{
        width: 360px;
        height: 80px;
    }

    .sintesiMedica_label_DATA, .sintesiMedica_content_DATA{
        width: 180px;
        height: 20px;
    }
}

@media screen and (max-width: 549px) {
    .scrollable_div{
        width: 280px;
    }

    .container_flexible_GENERIC{
        width: 250px;
    }

    .section_style{
        width: 280px;
    }

    .container_flexible_INFO{
        width: 240px;
    }

    .container_flexible_DATE{
        flex-direction: column;
        height: 120px;
        width: 240px;
    }
    
    .input_style_SHORT{
        width: 160px;
        font-size: 16px;
    }

    .listaMedica_label_TERAPIA, .listaMedica_content_TERAPIA, .listaMedica_label_DATA, .listaMedica_label_NOTE, .listaMedica_content_NOTE{
        font-size: 14px;
    }

    .sintesiMedica_label_TERAPIA{
        width: 250px;
    }

    .sintesiMedica_content_TERAPIA{
        width: 250px;
    }

    .sintesiMedica_label_DATA, .sintesiMedica_content_DATA{
        width: 125px;
    }
}