.wrapper_horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_flexible_GENERIC{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.container_flexible_SEZIONE_SINTESI{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    max-height: 100px;
    border-right: 1px solid #163172;
}
.container_flexible_SEZIONE_SINTESI:nth-last-child(0){
    border-right: none;
}

.border_right{
    border-right: 1px solid #163172;
}

.mmse_moca_style{
    font-size: 22px;
    margin: 5px;
}

.grid_flex_content{
    text-align: start;
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    margin: 0;
    /* list-style-type: none; */
}

.scrollable_div{
    background-color: rgb(230, 230, 230);
    padding-left: 15px;
    border-bottom: 2px solid #163172;
    width: 99%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
}

.wrap_buttons{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid darkorange; */
}

.select_section{
    display: none;
    margin: 5px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #1E56A0;
    font-size: 15px;
    text-align: center;
}

.select_section:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    outline: none;
}

.scheda_title{
    display: block;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

.horizontal_line{
    display: block;
    width: 100%;
    border: 1px solid #163172;
    /* margin-bottom: 25px; */
}

.label_style{
    display: inline-block;
    width: 260px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    border: 2px solid #163172;
    border-radius: 20px;
    color: #163172;
    box-shadow: 3px 3px 5px #163172;
    margin: 5px;
}

.containter_content_style{
    min-width: 250px;
    max-width: 250px;
    margin-left: 10px;
}

.content_style{
    width: 250px;
    font-size: 18px;
    margin: 5px;
}

.sintesiMedica_label_PATOLOGIA{
    padding: 2px;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    text-overflow: ellipsis;
    width: 150px;
    height: 40px;
}

.sintesiMedica_content_PATOLOGIA{
    padding: 2px;
    font-weight: normal;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 17px;
    width: 150px;
    height: 100px;
    margin: 0;
}

.sintesiMedica_label_TERAPIA{
    padding: 2px;
    font-weight: bold;
    font-size: 19px;
    text-overflow: ellipsis;
    text-align: center;
    width: 300px;
    height: 40px;
}

.sintesiMedica_content_TERAPIA{
    padding: 2px;
    font-weight: normal;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 17px;
    width: 300px;
    height: 100px;
    margin: 0;
    overflow-y: auto;
}
.sintesiMedica_content_TERAPIA::-webkit-scrollbar{
    width: 6px;
}

.sintesiMedica_label_DATA{
    padding: 2px;
    font-weight: bold;
    font-size: 19px;
    text-overflow: ellipsis;
    text-align: center;
    width: 120px;
    height: 40px;
}

.sintesiMedica_content_DATA{
    padding: 2px;
    font-weight: normal;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 17px;
    width: 120px;
    height: 100px;
    margin: 0;
}

.sintesiMedica_label_NOTE{
    padding: 2px;
    font-weight: bold;
    font-size: 19px;
    text-overflow: ellipsis;
    text-align: center;
    width: 160px;
    height: 40px;
}

.sintesiMedica_content_NOTE{
    padding: 2px;
    font-weight: normal;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 17px;
    width: 160px;
    height: 100px;
    margin: 0;
    overflow-y: auto;
}
.sintesiMedica_content_NOTE::-webkit-scrollbar{
    width: 6px;
}

@media screen and (max-width: 1200px) {
    .wrap_buttons{
        width: 800px;
    }

    .sintesiMedica_label_PATOLOGIA{
        font-size: 17px;
        width: 120px;
        height: 40px;
    }
    
    .sintesiMedica_content_PATOLOGIA{
        font-size: 16px;
        width: 120px;
        height: 100px;
    }
    
    .sintesiMedica_label_TERAPIA{
        font-size: 17px;
        width: 290px;
        height: 40px;
    }
    
    .sintesiMedica_content_TERAPIA{
        font-size: 16px;
        width: 290px;
        height: 100px;
    }
    
    .sintesiMedica_label_DATA{
        font-size: 17px;
        width: 100px;
        height: 40px;
    }
    
    .sintesiMedica_content_DATA{
        font-size: 16px;
        width: 100px;
        height: 100px;
    }
    
    .sintesiMedica_label_NOTE{
        font-size: 17px;
        width: 140px;
        height: 40px;
    }
    
    .sintesiMedica_content_NOTE{
        font-size: 16px;
        width: 140px;
        height: 100px;
    }
}

@media screen and (max-width: 899px) {
    .wrap_buttons{
        width: 500px;
    }

    .container_flexible_GENERIC{
        flex-direction: column;
        width: 460px;
    }

    .container_flexible_SEZIONE_SINTESI{
        border-right: none;
        border-bottom: 1px solid #163172;
        width: 100%;
        height: fit-content;
        max-height: 80px;
    }

    .sintesiMedica_label_PATOLOGIA, .sintesiMedica_content_PATOLOGIA, .sintesiMedica_label_NOTE,
    .sintesiMedica_content_NOTE{
        width: 100%;
    }

    .sintesiMedica_label_PATOLOGIA{
        height: 20px;
    }
    .sintesiMedica_content_PATOLOGIA{
        height: 30px;
    }

    .sintesiMedica_label_TERAPIA{
        width: 460px;
        height: 40px;
    }

    .sintesiMedica_content_TERAPIA{
        width: 460px;
        height: 120px;
    }

    .sintesiMedica_label_DATA, .sintesiMedica_content_DATA{
        width: 230px;
        height: 20px;
    }

    .sintesiMedica_label_NOTE{
        height: 20px;
    }
    .sintesiMedica_content_NOTE{
        height: 30px;
    }
}

@media screen and (max-width: 599px) {
    .wrap_buttons{
        display: none;
    }

    .container_flexible_GENERIC{
        width: 280px;
    }

    .sintesiMedica_label_TERAPIA, .sintesiMedica_content_TERAPIA{
        width: 280px;
    }

    .sintesiMedica_label_DATA, .sintesiMedica_content_DATA{
        width: 140px;
    }

    .select_section{
        display: block;
        /* background-color: rgb(59, 59, 241); */
        /* color: white; */
        width: 250px;
        height: 28px;
        font-size: 18px;
        /* border: 2px solid black; */
        border-radius: 5px;
    }

    .scheda_title{
        font-size: 30px;
    }
}