.wrapper_horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border_right{
    border-right: 1px solid #163172;
}

.mmse_moca_style{
    font-size: 22px;
    margin: 5px;
}

.grid_flex_content{
    text-align: start;
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    margin: 0;
    /* list-style-type: none; */
}

.scrollable_div{
    background-color: rgb(230, 230, 230);
    padding-left: 15px;
    border-bottom: 2px solid #163172;
    width: 99%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
}

.wrap_buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid darkorange; */
}

.select_section{
    display: none;
    margin: 5px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #1E56A0;
    font-size: 15px;
    text-align: center;
}

.select_section:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    outline: none;
}

.scheda_title{
    display: block;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

.horizontal_line{
    display: block;
    width: 100%;
    border: 1px solid #163172;
    /* margin-bottom: 25px; */
}

.label_style{
    display: inline-block;
    width: 260px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    border: 2px solid #163172;
    border-radius: 20px;
    color: #163172;
    box-shadow: 3px 3px 5px #163172;
    margin: 5px;
}

.containter_content_style{
    min-width: 250px;
    max-width: 250px;
    margin-left: 10px;
}

.content_style{
    width: 250px;
    font-size: 18px;
    margin: 5px;
}

.listaMedica_label{
    width: 100px;
    text-align: center;
    padding: 4px 8px 4px 8px;
    font-weight: bold;
    font-size: 18px;
}
.listaMedica_content{
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 10px 8px 4px 8px;
    width: 100px;
    height: 64px;
    /* max-height: 60px; */
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 16px;
}

.long_height{
    overflow-y: auto;
}

.med_width{
    width: 160px;
}

.long_width{
    width: 240px;
}

.long_width::-webkit-scrollbar {
    width: 6px;
    background-color: #163172;
}
  
.long_width::-webkit-scrollbar-thumb {
    background-color: #D6E4F0;
    border: 1px solid #163172;
    border-radius: 4px;
}
.med_width::-webkit-scrollbar {
    width: 6px;
    background-color: #163172;
}
  
.med_width::-webkit-scrollbar-thumb {
    background-color: #D6E4F0;
    border: 1px solid #163172;
    border-radius: 4px;
}

@media screen and (max-width: 899px) {
    .grid_flex_container{
        display: block;
        align-items: center;
        text-align: center;
    }

    .grid_flex_content{
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width: 599px) {
    .wrap_buttons{
        display: none;
    }

    .select_section{
        display: block;
        /* background-color: rgb(59, 59, 241); */
        /* color: white; */
        width: 250px;
        height: 28px;
        font-size: 18px;
        /* border: 2px solid black; */
        border-radius: 5px;
    }

    .scheda_title{
        font-size: 30px;
    }
}