.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
    margin: 0;
    /* list-style-type: none; */
}

.scrollable_div{
    background-color: rgb(230, 230, 230);
    padding-left: 15px;
    border-bottom: 2px solid rgb(233, 33, 131);
    width: 99%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
}

.wrap_buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid darkorange; */
}

.select_section{
    display: none;
    margin: 5px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid blue;
    font-size: 15px;
    text-align: center;
}

.select_section:focus{
    border: 2px solid rgb(233, 33, 131);
    outline: none;
}

.scheda_title{
    display: block;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

.horizontal_line{
    display: block;
    width: 100%;
    border: 1px solid rgb(233, 33, 131);
    /* margin-bottom: 25px; */
}

.label_style{
    /* display: inline-block; */
    width: 300px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    border: 2px solid rgb(233, 33, 131);
    border-radius: 20px;
    color: rgb(233, 33, 131);
    box-shadow: 3px 3px 5px rgb(233, 33, 131);
    margin: 5px;
}

@media screen and (max-width: 599px) {
    .wrap_buttons{
        display: none;
    }

    .select_section{
        display: block;
        /* background-color: rgb(59, 59, 241); */
        /* color: white; */
        width: 250px;
        height: 28px;
        font-size: 18px;
        /* border: 2px solid black; */
        border-radius: 5px;
    }

    .scheda_title{
        font-size: 30px;
    }
}