.wrapper_statistiche{
    border: 2px solid #1E56A0;
    background-color: #D6E4F0;
    padding: 20px;
    width: 400px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.select_style{
    margin: 5px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #1E56A0;
    font-size: 17px;
    text-align: center;
}

.select_style:focus{
    border: 2px solid #163172;
    outline: none;
}

.wrapper_barre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.barra{
    width: 20px;
    height: 200px;
    border: 3px solid #163172;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.riempimento_barra_corrette{
    height: 0%;
    background-color: green;
}
.riempimento_barra_sbagliate{
    height: 0%;
    background-color: red;
}

.content_style{
    color: #163172;
}

@media screen and (max-width: 599px) {
    .wrapper_statistiche{
        width: 250px;
    }
}