.wrapper_statistiche{
    border: 2px solid rgb(233, 33, 131);
    background-color: lightcyan;
    padding: 20px;
    width: 400px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.wrapper_barre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.barra{
    width: 20px;
    height: 200px;
    border: 3px solid rgb(33, 33, 131) ;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.riempimento_barra_corrette{
    height: 70%;
    background-color: green;
}
.riempimento_barra_sbagliate{
    height: 30%;
    background-color: red;
}