th, td{
    /* border: 1px solid darkgray; */
    border-radius: 2px;
    text-align: center;
}

tbody tr{background-color: #c2dbf0;}
tbody tr:hover .dati_tabella{
    background-color: #08193d;
    color: white;
}

tbody tr:nth-child(4n+3){background-color: rgb(196, 196, 196);}
tbody tr:nth-child(4n+3):hover .dati_tabella{
    background-color: #08193d;
    color: white;
}

.table_wrapper{
    width: 1000px;
    overflow: auto;
    box-shadow: 1px 2px 8px 3px #163172;
    table-layout: fixed;
    border-spacing: 0;
    margin: 30px;
}

.intestazione_tabella{
    background-image: linear-gradient(360deg, #1E56A0, #163172);
    /* background-color: #1E56A0; */
    color: whitesmoke;
    border: 1px solid #F6F6F6;
    padding: 4px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.1vw;
    /* width: 200px; */
    height: 70px;
}

.intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
    width: 230px;
}

.intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
    width: 250px;
}

.intestazione_tabella.data, .dati_tabella.data{
    width: 170px;
}

.intestazione_tabella.opzioni, .dati_tabella.opzioni{
    width: 160px;
}

.dati_tabella{
    /* width: 350px; */
    background-color: transparent;
    color: #1E56A0;
    border: 1px solid #D6E4F0;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
}

.mobile_row{
    width: 600px;
    border-bottom: 5px solid #D6E4F0;
    display: none;
    height: 35px;
}

@media screen and (max-width: 1750px){
    .table_wrapper{
        width: 950px;
    }

    .intestazione_tabella{
        /* color: orange; */
        font-size: 18px;
    }
    .dati_tabella{
        /* color: orange; */
        font-size: 18px;
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
        width: 190px;
    }

    .intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
        width: 200px;
    }

    .intestazione_tabella.data, .intestazione_tabella.attività, .dati_tabella.data, .dati_tabella.attività{
        width: 160px;
    }

    .intestazione_tabella.opzioni, .dati_tabella.opzioni{
        width: 150px;
    }
}

@media screen and (max-width: 1500px){
    .table_wrapper{
        width: 900px;
    }

    .intestazione_tabella, .dati_tabella{
        /* color: red; */
        font-size: 17px;
        height: 65px;
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
        width: 150px;
    }

    .intestazione_tabella.data, .intestazione_tabella.attività, .dati_tabella.data, .dati_tabella.attività{
        width: 120px;
    }

    .intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
        width: 150px;
    }

    .intestazione_tabella.opzioni, .dati_tabella.opzioni{
        width: 140px;
    }
}

@media screen and (max-width: 1200px) {
    .table_wrapper{
        width: 850px;
    }

    .intestazione_tabella, .dati_tabella{
        /* color: limegreen; */
        height: 60px;
        font-size: 17px;
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
        width: 160px;
    }

    .intestazione_tabella.data, .intestazione_tabella.attività, .dati_tabella.data, .dati_tabella.attività{
        width: 110px;
    }

    .intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
        display: none;
    }

    .intestazione_tabella.data, .dati_tabella.data{
        width: 140px;
    }
    
}

@media screen and (max-width: 900px) {
    .table_wrapper{
        width: 800px;
    }

    .intestazione_tabella, .dati_tabella{
        /* color: lightcoral; */
        font-size: 15px;
        /* height: 100px; */
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
        width: 100px;
    }

    .intestazione_tabella.data, .intestazione_tabella.attività, .dati_tabella.data, .dati_tabella.attività{
        width: 110px;
    }

    .intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
        width: 150px;
    }

    .intestazione_tabella.data, .dati_tabella.data{
        width: 100px;
    }
    
}
@media screen and (max-width: 650px) {
    .table_wrapper{
        width: 500px;
    }

    .intestazione_tabella{
        font-size: 13px;
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .dati_tabella.nome, .dati_tabella.cognome{
        width: 80px;
    }

    .intestazione_tabella.città, .dati_tabella.città{
        display: none;
    }

    .intestazione_tabella.opzioni, .dati_tabella.opzioni{
        /* width: 100px; */
        display: none;
    }

    .intestazione_tabella.data, .dati_tabella.data{
        width: 80px;
    }

    .mobile_row{
        display: table-row;
    }
    
}

@media screen and (max-width: 500px) {
    .table_wrapper{
        width: 400px;
    }

    .intestazione_tabella{
        font-size: 12px;
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .dati_tabella.nome, .dati_tabella.cognome,.intestazione_tabella.data, .dati_tabella.data{
        width: 60px;
    }

    .intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
        width: 90px;
    }

    .intestazione_tabella.opzioni, .dati_tabella.opzioni{
        width: 50px;
    }
    
}