table{
    /* border: 1px solid darkgray; */
    border-spacing: 0;
    width: 55%;
    margin: 6vh;
}

th, td{
    /* border: 1px solid darkgray; */
    border-radius: 2px;
    text-align: center;
}

tbody tr{background-color: lightcyan;}
tbody tr:hover .dati_tabella{
    background-color: black;
    color: white;
}

tbody tr:nth-child(2n){background-color: lightgrey;}
tbody tr:nth-child(2n):hover .dati_tabella{
    background-color: black;
    color: white;
}

.table_wrapper{
    width: 80%;
    overflow: auto;
    box-shadow: 1px 2px 8px 5px rgb(33, 33, 131);
    table-layout: fixed;
}

.intestazione_tabella{
    background-image: linear-gradient(360deg, rgb(59, 59, 241), rgb(33, 33, 131));
    /* background-color: rgb(59, 59, 241); */
    color: whitesmoke;
    border: 1px solid rgb(233, 33, 131);
    padding: 4px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.1vw;
    /* width: 200px; */
    height: 70px;
}

.intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
    width: 230px;
}

.intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
    width: 250px;
}

.intestazione_tabella.data, .intestazione_tabella.attività, .dati_tabella.data, .dati_tabella.attività{
    width: 140px;
}

.intestazione_tabella.opzioni, .dati_tabella.opzioni{
    width: 150px;
}

.dati_tabella{
    /* width: 350px; */
    background-color: transparent;
    color: rgb(59, 59, 241);
    border: 1px solid rgb(233, 33, 131);
    font-size: 1.2vw;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
}

@media screen and (max-width: 1750px){
    .table_wrapper{
        width: 70%;
    }

    .intestazione_tabella, .dati_tabella{
        color: orange;
        font-size: 18px;
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
        width: 200px;
    }

    .intestazione_tabella.data, .intestazione_tabella.attività, .dati_tabella.data, .dati_tabella.attività{
        width: 180px;
    }

    .intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
        width: 180px;
    }

    .intestazione_tabella.opzioni, .dati_tabella.opzioni{
        width: 140px;
    }
}

@media screen and (max-width: 1500px){
    .table_wrapper{
        width: 60%;
    }

    .intestazione_tabella, .dati_tabella{
        color: red;
        font-size: 17px;
        height: 65px;
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
        width: 150px;
    }

    .intestazione_tabella.data, .intestazione_tabella.attività, .dati_tabella.data, .dati_tabella.attività{
        width: 120px;
    }

    .intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
        width: 150px;
    }

    .intestazione_tabella.opzioni, .dati_tabella.opzioni{
        width: 130px;
    }
}

@media screen and (max-width: 1200px) {
    .table_wrapper{
        width: 60%;
    }

    .intestazione_tabella, .dati_tabella{
        color: limegreen;
        height: 60px;
        font-size: 17px;
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
        width: 160px;
    }

    .intestazione_tabella.data, .intestazione_tabella.attività, .dati_tabella.data, .dati_tabella.attività{
        width: 110px;
    }

    .intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
        width: 150px;
    }

    .intestazione_tabella.data, .dati_tabella.data{
        display: none;
    }
    
}

@media screen and (max-width: 900px) {
    .table_wrapper{
        width: 40%;
    }

    .intestazione_tabella, .dati_tabella{
        color: lightcoral;
        font-size: 15px;
        height: 100px;
    }

    .intestazione_tabella.nome, .intestazione_tabella.cognome, .intestazione_tabella.città, .dati_tabella.nome, .dati_tabella.cognome, .dati_tabella.città{
        width: 100px;
    }

    .intestazione_tabella.data, .intestazione_tabella.attività, .dati_tabella.data, .dati_tabella.attività{
        width: 110px;
    }

    .intestazione_tabella.codicefiscale, .dati_tabella.codicefiscale{
        width: 150px;
    }

    .intestazione_tabella.data, .dati_tabella.data{
        display: none;
    }
    
}