*{
    color: rgb(59, 59, 241);
}

.center_elements{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    margin-top: 10px;
}

h5{
    margin: 5px;
    cursor: pointer;
}

.dropdown_box{
    width: 200px;
    height: 30px;
    border: 2px solid rgb(59, 59, 241);
    border-radius: 20px;
    font-size: large;
    text-align: center;
    color: black;
}

.input_box{
    width: 300px;
    height: 30px;
    border: 2px solid rgb(59, 59, 241);
    border-radius: 20px;
    font-size: large;
    text-align: center;
    color: black;
}

.input_box:focus{
    border: 2px solid lime;
    outline: none;
}

.psw_dimenticata{
    font-size: medium;
    color: red;
    text-decoration: underline;
}

.button_accedi{
    min-width: 200px;
    min-height: 50px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(59, 59, 241);
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    font-size: larger;
    margin-top: 20px;
    cursor: pointer;
}

.button_accedi:hover{
    background-color: rgb(33, 33, 131);
    border: 2px solid rgb(59, 59, 241);
    transition: 0.3s;
}