.explanation{
    margin: 10px;
    margin-bottom: 40px;
}

.input_box{
    width: 250px;
    height: 30px;
    margin: 5px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    color: black;
    /* transition: 0.3s; */
}

.input_box:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.image_size{
    width: 260px;
    height: 180px;
}