.center_form{
    text-align: center;
    /* transition: all 0.3 ease-out; */
}

.title_form{
    margin: 7px;
}

.label_style{
    color: 2px solid rgb(59, 59, 241);
}

.label_style.invalid{
    color: red;
}

.input_style{
    margin: 10px;
    width: auto;
    height: 20px;
    border: 1px solid rgb(59, 59, 241);
    border-radius: 20px;
}

.input_style.invalid{
    border: 2px solid red;
}