table{
    border: 1px solid darkgray;
    border-spacing: 0;
    width: 55%;
    margin: 5vh;
}

th, td{
    border: 1px solid darkgray;
    text-align: center;
}

tbody tr{background-color: lightcyan;}
tbody tr:hover .dati_tabella{
    cursor: pointer;
    background-color: black;
    color: white;
}

tbody tr:nth-child(2n){background-color: lightgrey;}
tbody tr:nth-child(2n):hover .dati_tabella{
    cursor: pointer;
    background-color: black;
    color: white;
}

.table_wrapper{
    overflow: auto;
}

.intestazione_tabella{
    background-color: rgb(59, 59, 241);
    color: whitesmoke;
    /* min-width: 200px; */
    font-size: 1.5vw;
}

.intestazione_tabella.città, .intestazione_tabella.data{
    display: none;
}

.dati_tabella{
    background-color: transparent;
    color: rgb(59, 59, 241);
    font-size: 1.1vw;
}

.dati_tabella.città, .dati_tabella.data{
    display: none;
}

@media screen and (min-width: 1200px) {
    .dati_tabella.città, .dati_tabella.data, .intestazione_tabella.città, .intestazione_tabella.data{
        display: table-cell;
        max-width: 4vw;
    }
}

@media screen and (max-width: 751px) {
    .intestazione_tabella{
        color: lime;
    }
}