.page_title{
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 35px;
    color: #1E56A0;
}

.wrap_boxes{
    top: 10px;
    margin-bottom: 14px;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d6e4f0f6;
    border-top: 1px solid #163172;
    border-bottom: 1px solid #163172;
    box-shadow: 5px 0 5px 5px #163172;
}

.wrapper_generico_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper_generico_horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.width_for_wrapper{
    width: 600px;
    justify-content: space-around;
}

.height_for_wrapper{

}

.wrap_content{
    text-align: center;
    width: 320px;
    padding: 10px;
}

.wrap_content_TERAPIA{
    text-align: center;
    width: 320px;
    padding: 10px;
    /* border-right: 2px solid #163172; */
    /* min-height: 100px; */
}

.select_style{
    margin: 5px;
    width: 220px;
    height: 35px;
    border-radius: 15px;
    border: 2px solid #1E56A0;
    font-size: 16px;
    text-align: center;
}

.select_style:focus{
    border: 2px solid #163172;
    /* background-color: #D6E4F0; */
    outline: none;
}

.label_style{
    font-size: 20px;
    font-weight: bold;
}

.info_content{
    font-size: 22px;
    font-weight: normal;
    margin: 5px;
}

.info_content_TERAPIA{
    font-size: 22px;
    font-weight: normal;
    margin: 8px 22px;
    padding: 10px;
    max-width: 320px;
    word-wrap: break-word;
}

.input_style{
    width: 180px;
    height: 30px;
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: 22px;
    color: black;
    transition: 0.3s;
    text-align: center;
}

.input_style:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style.invalid{
    border: 2px solid red;
}