.page_title{
    margin: 0;
    margin-top: 10px;
    /* margin-bottom: 5px; */
    text-align: center;
    font-size: 35px;
    color: #1E56A0;
}

.wrapper_generico{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 30px; */
}

.wrap_boxes{
    top: 0px;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d6e4f0f6;
    /* border-top: 1px solid #163172; */
    /* border-bottom: 1px solid #163172; */
    box-shadow: 5px 0 5px 5px #163172;
    z-index: 50;
}

.wrapper_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper_horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card_style{
    width: 65%;
    min-width: 300px;
    margin: 10px;
    border: 1px solid #163172;
    transition: 0.3s;
}
.card_style:hover{
    background-color: #D6E4F0;
    transition: 0.3s;
    box-shadow: 4px 4px 10px 2px #163172;
}

.wrapper_direction{
    margin-left: 5px;
    align-items: flex-start;
}

.width_for_wrapper{
    width: 680px;
    justify-content: space-between;
}

.full_height{
    margin-right: 5px;
    height: 100px;
    justify-content: space-evenly;
}

.wrap_content{
    text-align: center;
    width: 320px;
    padding: 10px;
}

.wrap_content_TERAPIA{
    text-align: center;
    width: 320px;
    padding: 10px;
    /* border-right: 2px solid #163172; */
    /* min-height: 100px; */
}

.select_style{
    margin: 5px;
    width: 220px;
    height: 35px;
    border-radius: 15px;
    border: 2px solid #1E56A0;
    font-size: 16px;
    text-align: center;
}

.select_style:focus{
    border: 2px solid #163172;
    /* background-color: #D6E4F0; */
    outline: none;
}

.label_style{
    /* margin-left: 4px; */
    width: 100%;
    /* min-width: 200px; */
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
}

.info_content{
    width: 100%;
    min-width: 150px;
    text-align: start;
    /* word-wrap: break-word; */
    /* word-break: break-all; */
    overflow-wrap: break-word;
    display: block;
    font-size: 26px;
    font-weight: normal;
    margin: 5px;
    padding: 2px;
    /* margin-left: 15px; */
}

.info_content_TERAPIA{
    font-size: 22px;
    font-weight: normal;
    margin: 8px 22px;
    padding: 10px;
    max-width: 320px;
    word-wrap: break-word;
}

.input_style{
    min-width: 100px;
    width: 250px;
    max-width: 350px;
    min-height: 50px;
    max-height: 100px;
    margin: 5px;
    /* margin-bottom: 10px; */
    border: 2px solid #1E56A0;
    border-radius: 8px;
    font-size: 20px;
    color: black;
    transition: 0.3s;
    text-align: start;
}

.input_style::-webkit-scrollbar{
    width: 8px;
}

.input_style:focus{
    border: 2px solid #163172;
    background-color: #D6E4F0;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px black;
    outline: none;
}

.input_style.invalid{
    border: 2px solid red;
}

@media screen and (max-width:1550px) {
    .width_for_wrapper{
        width: 620px;
        justify-content: space-between;
    }

    .label_style{
        font-size: 20px;
    }

    .info_content{
        font-size: 22px;
    }
}
@media screen and (max-width:850px) {
    .page_title{
        font-size: 30px;
    }
    
    .width_for_wrapper{
        width: 500px;
        justify-content: space-between;
    }

    .full_height{
        height: 80px;
    }

    .label_style{
        font-size: 16px;
    }

    .info_content{
        font-size: 18px;
    }

    .input_style{
        width: 190px;
        max-width: 200px;
        min-height: 30px;
        max-height: 100px;
        font-size: 18px;
    }
}

@media screen and (max-width:600px) {
    .wrapper_horizontal{
        flex-direction: column;
    }

    .label_style, .info_content{
        text-align: center;
    }

    .width_for_wrapper{
        width: 400px;
        justify-content: space-between;
    }

    .input_style{
        width: 140px;
        max-width: 160px;
        min-height: 30px;
        max-height: 100px;
        font-size: 16px;
    }
}

@media screen and (max-width:500px) {
    .width_for_wrapper{
        width: 300px;
        justify-content: space-between;
    }

    
}