.generic_wrapper{
    width: fit-content;
    height: fit-content;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 16px;
    padding: 5px;
    background-color: #F6F6F6;
    border: 1px solid #1E56A0;
    border-radius: 10px;
}

.backgroundBlue{
    background-color: #D6E4F0;
}

.animazione{
    opacity: 0;
    animation: 1s 1 normal slidein forwards;
}

.altroStile{
    /* position: relative; */
    box-shadow: 10px 10px 15px #163172;
}

.stileHover:hover{
    background-color: #D6E4F0;
    cursor: pointer;
    animation: 0.3s 1 normal slidein forwards;
}

@media screen and (max-width: 600px) {
    .generic_wrapper{
        margin: 5px;
        margin-bottom: 16px;
    }
}

@keyframes slidein {
    0%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }
    
}