.edit_button{
    width: 40px;
    height: 40px;
    background-color: #1E56A0;
    color: white;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
    transition: 0.3s;
}

.edit_button:hover{
    background-color: #163172;
    border: 2px solid #D6E4F0;
    cursor: pointer;
    transition: 0.3s;
}

.edit_button_alternative{
    width: 30px;
    height: 30px;
    background-color: #1E56A0;
    color: white;
    margin: 4px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.3s;
}

.edit_button_alternative .edit_image{
    width: 16px;
    height: 16px;
}

.edit_button_alternative:hover{
    background-color: #163172;
    border: 1px solid #D6E4F0;
    cursor: pointer;
    transition: 0.3s;
}

.edit_button:hover .edit_image{
    width: 21px;
    height: 21px;
    transition: 0.3s;
}

.edit_image{
    width: 21px;
    height: 21px;
    /* transition: 0.3s; */
}

@media screen and (max-width: 1605px) {

    .edit_button{
        width: 35px;
        height: 35px;
    }

    .edit_button:hover .edit_image{
        width: 17px;
        height: 17px;
    }
    
    .edit_image{
        width: 17px;
        height: 17px;
    }
}

@media screen and (max-width: 700px) {

    .edit_button{
        width: 30px;
        height: 30px;
        margin: 3px;
    }

    .edit_button:hover .edit_image{
        width: 16px;
        height: 16px;
    }
    
    .edit_image{
        width: 16px;
        height: 16px;
    }

    .edit_button_alternative{
        width: 26px;
        height: 26px;
    }
    
    .edit_button_alternative .edit_image{
        width: 14px;
        height: 14px;
    }
}

@media screen and (max-width: 650px) {

    .edit_button{
        width: 99%;
        height: 35px;
        margin: 0;
        padding: 0;
        border: 1px solid transparent;
        /* border-bottom: 3px solid #163172; */
        border-radius: 0px;
    }

    .edit_button:hover{
        border: 1px solid #D6E4F0;
        /* border-bottom: 3px solid #163172; */
    }

    .edit_button:hover .edit_image{
        width: 15px;
        height: 15px;
    }
    
    .edit_image{
        width: 15px;
        height: 15px;
    }
}