.background_modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.555);
    text-align: center;
}

.wrapper_modal{
    
    margin-left: 15vw;
    /* top: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(35vw + 10px);
    height: fit-content;
    padding: 5px;
    background-color: rgb(236, 236, 236);
    border: 3px solid rgb(255, 0, 0);
    box-shadow: 1px 1px 5px 3px rgb(255, 0, 0);
}