.background_modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.555);
    text-align: center;
}

.wrapper_modal{
    margin-left: 15vw;
    /* top: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(35vw + 10px);
    height: fit-content;
    padding: 5px;
    background-color: rgba(236, 236, 236, 0.950);
    border: 3px solid rgb(233, 33, 131);
    box-shadow: 1px 1px 5px 3px rgb(233, 33, 131);
}

.modal_title_text{
    font-size: 1.35vw;
    padding-top: 5px;
}

.underline_text{
    /* text-decoration: underline rgb(233, 33, 131) 3px; */
    /* padding: 1px;
    padding-left: 3px;
    padding-right: 3px; */
    text-decoration: underline solid rgb(233, 33, 131) 4px;
    /* border: 3px solid rgb(233, 33, 131); */
}