.wrap_search_box{
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.search_box{
    width: 200px;
    height: 30px;
    border: 2px solid #1E56A0;
    border-radius: 20px;
    font-size: large;
}

.lente{
    width: 25px;
    height: 25px;
}